/* konkors */
/* .row .col.m4{
    right: auto;
    left: auto;
    margin-right: auto
}
.row .col.m4 {
    width: 33.33333%
} */
/* .row .col.s12{
    right: auto;
    left: auto;
    width: 100%;
    margin-right: auto;
} */
.blue-grey.darken-4 {
    background-color: #263238 !important;
    height: 100%;
}
.bg-image-1 {
    background-image: url('/files/macbook.png') ;
}
.white-text {
    color: #fff !important;
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.border-non {
    margin-top: auto !important;
}

/* .card .card-content .card-title {
    line-height: 32px;
    display: block;
    margin-bottom: 8px
} */

.card .card-content .card-title i {
    line-height: 32px
}
.card-title {
    font-size: 24px;
    font-weight: 300;
}
.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga'
}
.waves-effect img {
    position: relative;
    z-index: -1
}
.btn-konkor {
    background-color: #690d83b7 !important;
    line-height: 36px;
    display: inline-block;
    height: 36px;
    padding: 0 2rem;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    border-radius: 22px;
    color: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    vertical-align: middle;
}
.icon-background {
    width: 50px;
    height: 50px;
    margin: 8px;
    padding-top: 11px
}
@media screen and (min-width:1290px) {
    .icon-background {
        width: 3.125rem;
        height: 3.125rem;
        margin: 1.25rem 2rem 1.25rem 1.25rem;
        padding-top: .6875rem
    }
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.section {
    padding: .5rem 0
}
.col .row {
    margin-right: -.75rem;
    margin-left: -.75rem
}
.row{
    margin-bottom: 0;
}
.black-text{
    color: #000;
}
.gradient-45deg-red-pink {
    background: -webkit-linear-gradient(135deg, #ff5252, #f48fb1) !important;
    background: linear-gradient(-45deg, #ff5252, #f48fb1) !important
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}
.z-depth-3 {
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, .14),
     0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.gradient-45deg-light-blue-cyan {
    background: -webkit-linear-gradient(135deg, #0288d1, #26c6da) !important;
    background: linear-gradient(-45deg, #0288d1, #26c6da) !important
}
.gradient-45deg-indigo-blue {
    background: -webkit-linear-gradient(135deg, #303f9f, #1976d2) !important;
    background: linear-gradient(-45deg, #303f9f, #1976d2) !important
}
.gradient-45deg-light-blue-cyan.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(38, 198, 218, .5) !important
}